<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos agregados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input expand="full" type="text" placeholder="El producto que buscas" [(ngModel)]="searchText"></ion-input>
        <ion-icon name="search-circle-outline" slot="end" style="font-size: 24px;"></ion-icon>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let p of filterProductos()" [routerLink]="['/detail-producto', p.id]">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="../../assets/static/palta.jpg" />
          </ion-thumbnail>
          <ion-label>{{ p.nombre }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" routerLink="/add-producto">Nuevo producto</ion-button>
</ion-content>
