<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informacion del producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://media.istockphoto.com/id/1289009101/es/foto/fruta-fresca-de-pepino.jpg?s=612x612&w=0&k=20&c=jS4qFgCFUDxvaVxSRnYGvpOJGbIER5lwfsVJgJtQ364=" />
      <ion-card-header>
        <ion-card-title>{{ejemplofruta}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Los pepinos de primera son los más grandes y de mejor calidad
      </ion-card-content>
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Proveedor asociado</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>  
      <ion-chip>
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>La base del negocio</ion-label>
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ion-card>
  </ion-grid>
  
  <div class="button-container">
    <ion-button routerLink="/productos">Volver a productos</ion-button>
  </div>
  
  <!-- Resto del contenido -->
</ion-content>

