ion-content {
    --background: url('../../staticts/images/vina-san-francisco-de-aguirre-1-1024x614.jpg');
    
  }
    .button-container {
      text-align: center;
      overflow: hidden;
    }
    
    ion-button {
      display: inline-block;
      animation: vibrate 100ms ease-in-out;
    }
    
    @keyframes vibrate {
      0% { transform: translateX(0); }
      25% { transform: translateX(-2px); }
      50% { transform: translateX(2px); }
      75% { transform: translateX(-2px); }
      100% { transform: translateX(0); }
    }
    