<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Detalle de la transaccion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>ID de la Transacción: {{ detallejemplo[0] }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Fecha: </ion-label>
        <ion-text>{{ detallejemplo[1] }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Proveedor: </ion-label>
        <ion-text>{{ detallejemplo[2] }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Productos: </ion-label>
        <table>
          <thead>
            <tr>
              <th>Nombre de Producto </th>
              <th>Cantidad </th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{detallejemplo[4]}}</td>
              <td>{{detallejemplo[3]}}</td>
              <td>{{detallejemplo[5]}}</td>
            </tr>
            <tr>
              <td>{{detallejemplo[7]}}</td>
              <td>{{detallejemplo[6]}}</td>
              <td>{{detallejemplo[8]}}</td>
            </tr>
           
          </tbody>
        </table>
        
      </ion-item>
      
      <ion-item>
        <ion-label>Total: </ion-label>
        <ion-text>{{ detallejemplo[10] }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Estado: </ion-label>
        <ion-text>{{ detallejemplo[9] }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-content>
  <div class="button-container">
    <ion-button routerLink="/historial" >Volver al Historial</ion-button><ion-grid></ion-grid>
  </div>
  <!-- Resto del contenido -->
</ion-content>
