<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Crear Producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nombre del producto</ion-label>
    <ion-input type="text" [(ngModel)]="nombreProducto" placeholder="Ingrese el nombre del producto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción del producto</ion-label>
    <ion-input type="text" [(ngModel)]="descripcionProducto" placeholder="Ingrese la descripción del producto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Imagen del producto</ion-label>
    <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="guardarDatos()" routerLink="/productos">Crear Producto</ion-button>
</ion-content>
