ion-content {
    --background: url('../../../staticts/images/vina-san-francisco-de-aguirre-1-1024x614.jpg');
    background-size: cover;
    background-position: center;
}
#container{
    text-align: center;
}