ion-content {
  --background: url('../../../../assets/static/DALL·E\ 2023-05-31\ 19.46.00\ -\ an\ iimpressionist\ oil\ pait\ of\ limari\ chile.png');
  background-image: none;
    
  }
  .card-grid {
    height: 300px;
    width: 150px;
  }