<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eliminar Proveedor</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID #{{proveedor.id}}</ion-card-subtitle>
      <ion-card-title>¿Esta seguro de eliminar este producto {{proveedor.nombre}} ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="eliminarProveedor()" expand="block" color="danger">Eliminar</ion-button>
    </ion-card-content>
    

  </ion-card>
</ion-content>
