ion-content {
    --background: url('../../../../assets/static/DALL·E\ 2023-05-31\ 19.46.00\ -\ an\ iimpressionist\ oil\ pait\ of\ limari\ chile.png');
    background-size: cover;
    background-position: center;
}
#container{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.346);
}

#container2{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.346);

}