ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #15ec7d;
    text-align: center;
    padding: 15px;
    color: white;
  }
ion-content {
    --background: url('../../../staticts/images/vina-san-francisco-de-aguirre-1-1024x614.jpg');
    
  }