<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro de Usuario: </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 style="color: white;">Crea tu cuenta: </h3>
          </div>
          <div padding>
            <ion-item lines="full">
              <ion-input  name="name" type="text" placeholder="Nombre" required [(ngModel)]="newUsuario.nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="apellido" type="text" placeholder="Apellido" required [(ngModel)]="newUsuario.apellido"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="fecha" type="date" placeholder="fecha de nacimiento"required [(ngModel)]="newUsuario.fechaDeNacimiento"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="tu@email.com" required [(ngModel)]="newUsuario.correo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="contraseña" required [(ngModel)]="newUsuario.contrasenia"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="tipoUsuario" type="text" placeholder="tipo de usuario" required [(ngModel)]="newUsuario.tipo_usuario" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="number" type="number" placeholder="celular" required [(ngModel)]="newUsuario.numeroCelular" ></ion-input>
            </ion-item>
          </div>
         
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-button (click)="crearUsuario()" expand="block" color="success" routerLink="/login">Registrarse</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </form>

   
  <ion-checkbox >¿Esta deacuedo con las condiciones ? (opcional) </ion-checkbox>
    
  

</ion-content>
