<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="display: flex; align-items: center;">Proveedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input expand="full" type="text" placeholder="El proveedor que buscas" [(ngModel)]="searchText"></ion-input>
    <ion-icon name="search-circle-outline" slot="end" style="font-size: 24px;"></ion-icon>
  </ion-item>
  
  <ion-button expand="full" routerLink="/add-proveedor">Agregar nuevo proveedor</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let p of filterProveedores(); let i = index;">
        <ion-card class="card-grid" [routerLink]="['/detail-proveedor', p.id]">
          <img src='../../../assets/static/agri3.jpg' />
          <ion-card-header>
            <ion-card-title>{{ p.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ p.descripcion }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
